// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.left_li{
  float: left;
  display: block;
}
#admin a{
  text-decoration: none;
}
#personal{
  background-color: #ffffff;
}
footer{
  text-align: center;
}